// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
@import './_layout.scss';
html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.parallax-container-write-code {
    &>div {
        width: 100%;
        height: 25rem;
        background: transparent;
        text-align: left;
        &:not(:last-child)>div {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: .3rem;
        }
        &:nth-child(1) {
            &>div {
                opacity: 0.2;
                background: #000;
            }
        }
        &:nth-child(2) {
            padding: .8rem;
            &>div {
                opacity: 0.8;
                background-color: #F69898;
            }
        }
        &:nth-child(3) {
            padding: 1.6rem;
            &>div {
                opacity: 0.6;
                background-color: #F8F88D;
            }
        }
        &:nth-child(4) {
            padding: 2.4rem;
            &>div {
                border: 5rem solid rgba(148, 148, 253, 0.4);
                border-top-width: 3rem;
                border-bottom-width: 3rem;
                background-color: transparent;
            }
        }
        &:last-child {
            padding: 3.2rem;
            &>div {
                border-radius: .3rem;
                width: 100%;
                height: 100%;
                overflow: auto;
            }
        }
    }
}

.main-all-container {
    position: absolute;
    left: 0;
    right: 0;
}

.cow-container{
    position: absolute;
    left: 0px;
    right: 0;
    top: 0rem;
    height: calc(100vh - 3.5rem);
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 0;   /* 滚动条宽度为0 */
        height: 0; /* 滚动条高度为0 */
        display: none; /* 滚动条隐藏 */
    }

    .cow-card {
        position: absolute;
        background: #e9ecef;
        border-radius: .3rem;
        padding: .8rem;
        user-select: none;
    }
}

.masked-text {
    background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC 30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%, #66FFFF 90%, blue 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}